<div class="col-10 col-mx-auto">
  <div class="card">
    <div class="card-header">
      <div class="card-title h5"><%= @article.title %></div>
    </div>
    <div class="card-body">
      <h4>English Text:</h4>
      <%= raw @article.content %>
    </div>
    <hr>
    <div class="card-body">
      <h4>German Text:</h4>
      <%= raw @article.de_content %>
    </div>
  </div>
</div>
